deb {{ proxmox_debian_mirror }} {{ proxmox_codename }} main contrib non-free non-free-firmware
deb {{ proxmox_debian_mirror }} {{ proxmox_codename }}-updates main contrib non-free non-free-firmware
deb {{ proxmox_debian_security_mirror }} {{ proxmox_codename }}-security main contrib non-free non-free-firmware
